/* .cards::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 40vh;
background-color: #ffff;

}
.cards:hover::before{
    width: 100%;
    background-color: #face30;
    transition-duration: .8s;
} 
.cards:hover img {
    opacity: .8;
    transform: translateX(30%);
}
.cards .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #0000;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.cards:hover .details {
    transform: perspective(2000px) rotateY(0deg);
} */